chardet==3.0.4
idna==2.8
numpy==1.18.1
pandas==0.25.3
pytz==2019.3
requests==2.22.0
zope.interface==4.7.1
stringcase==1.2.0
commonmark==0.9.1
lxml==4.2.5
isodate==0.6.0
pipenv==2018.11.26
xlrd==1.1.0
